.referencesItem {
  height: 100%;
  display: grid;
  place-items: center;
}

.referencesItem h3,
.referencesItem p {
  margin: 0px;
}

.referencesContent {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.referenceContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.referenceImageContainer {
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.referenceImageBackground {
  --ref-img-overflow: 4px;
  position: absolute;
  z-index: -2;
  top: calc(-1 * var(--ref-img-overflow));
  left: calc(-1 * var(--ref-img-overflow));
  height: calc(100% + var(--ref-img-overflow) * 2);
  width: calc(100% + var(--ref-img-overflow) * 2);
  border-radius: 50%;
  background-color: var(--color-gray-6);
}

.referenceImageBackground::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--color-primary);
  clip-path: inset(100% 0px 0px 0px);
  transition: clip-path 0.2s ease-out;
}

.referenceImageContainer:hover .referenceImageBackground::before {
  clip-path: inset(0% 0px 0px 0px);
}

.referenceImage {
  user-select: none;
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  clip-path: circle(50% at 50% 50%);
}

.referenceName {
  padding-top: var(--spacing-3);
  font-size: var(--font-size-medium-px);
}

.referenceTitle {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  padding-bottom: var(--spacing-1);
  font-size: var(--font-size-normal-px);
}

.referenceEmail {
  font-size: var(--font-size-normal-px);
}
