.cardContainer {
  height: 100%;
  position: relative;
  isolation: isolate;
}

.card {
  z-index: 1;
  height: 100%;
  background-color: var(--color-gray-10);
  border-radius: var(--border-radius-2);
  border: 1px solid var(--color-gray-6);
}

.cardContent {
  width: 100%;
  padding: var(--spacing-4) var(--spacing-5);
}

.expandedContent {
  /* Move down because of close button */
  padding-top: var(--spacing-6);
}

.buttonCard {
  cursor: pointer;
  border-color: var(--color-transparent);
  background-clip: padding-box;
}

.closeButton {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-5);
}

.gradientBackground {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-2);
  background: linear-gradient(
    135deg,
    var(--color-primary) 50%,
    var(--color-secondary)
  );
}

.gradientShadow {
  z-index: -2;
  display: none;
  border-radius: 0px;
  filter: blur(8px);
  opacity: 0.8;
  /* To fix in Safari */
  transform: translateZ(0);
}

.cardContainer:hover .gradientShadow {
  display: block;
}
