.card {
  height: 100%;
  background-color: var(--color-gray-10);
  border-radius: var(--border-radius-2);
  border: 1px solid var(--color-gray-6);
  position: relative;
  isolation: isolate;
}

.cardContent {
  z-index: 0;
  padding: var(--spacing-4) var(--spacing-5);
}

.expandedContent {
  /* Move up because of close button */
  margin-top: -20px;
}

.buttonCard {
  cursor: pointer;
  border-color: var(--color-primary);
}

.closeButton {
  z-index: 10;
  position: sticky;
  top: var(--spacing-4);
  width: fit-content;
  margin-left: auto;
  padding-right: var(--spacing-5);
}
