.card {
  height: 100%;
  min-height: 100px;
  background-color: var(--colorPrimary);
  border-radius: var(--borderRadius1);
  padding: var(--spacing4) var(--spacing5);
  overflow: auto;
}

.clickableCard {
  cursor: pointer;
}
