.buttonBase {
  cursor: pointer;
  border: none;
  outline: 0;
  user-select: none;
  padding: 0px;
}

.iconButton {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--color-primary);
}

.iconButton:hover {
  transform: scale(1.1);
}

.iconButton:active {
  transform: scale(0.95);
}

.iconButton svg {
  height: 24px;
  width: 24px;
  color: var(--color-gray-10);
}

.iconButtonLight {
  background-color: var(--color-white);
}
