.skillsItem h3 {
  margin: 0px;
  padding-bottom: var(--spacing-3);
  font-size: var(--font-size-normal);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.generalTitle {
  /* TODO: Display on bigger screens */
  display: none;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-1);
}

.skillsContainer:not(:last-child) {
  padding-bottom: var(--spacing-5);
}

.skill {
  text-align: center;
  color: var(--color-white);
  font-size: var(--font-size-small);
  border: 1px solid var(--color-gray-6);
  border-radius: var(--font-size-small);
  padding: 2px 8px;
  margin: 2px 0px;
  min-width: 40px;
}

.activeGeneralSkill {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-gray-10);
}

.activeToolSkill {
  border-color: var(--color-primary);
}
