html,
body,
#root {
  background-color: var(--color-black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

::selection {
  color: var(--color-black);
  background: var(--color-primary);
}

p {
  font-size: 1rem;
  color: var(--color-gray-3);
  margin-bottom: var(--spacing-3);
}

p:last-child {
  margin-bottom: 0px;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: var(--spacing-2);
}
