.defaultLayout p {
  margin-bottom: var(--spacing-3);
}

.defaultLayout p:last-child {
  margin-bottom: 0px;
}

.defaultLayout h1 {
  margin-bottom: var(--spacing-3);
}

.defaultLayout h2 {
  margin-bottom: var(--spacing-2);
}

.defaultLayout h3 {
  margin-bottom: var(--spacing-2);
}

.defaultLayout a {
  color: var(--color-primary);
}
