---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background";
import PageNotFound from "../components/PageNotFound";
---

<Layout title="Page not Found">
  <Background />
  <main>
    <PageNotFound />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: auto;
    padding: var(--spacing-6);
  }
</style>
