---
import Layout from "../layouts/Layout.astro";
import { ContentGrid } from "../components";
---

<Layout title="Gunnar Olafsson">
  <main>
    <ContentGrid client:idle />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: auto;
    padding: var(--spacing6) var(--spacing5);
  }
</style>
