---
import Layout from "../layouts/Layout.astro";
import { CardGrid } from "../components";
---

<Layout title="Gunnar Olafsson">
  <main>
    <CardGrid />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing5);
  }
</style>
