---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background";
import ContentGrid from "../components/ContentGrid";
---

<Layout title="Gunnar Olafsson">
  <Background />
  <main>
    <ContentGrid client:idle />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: auto;
    padding: var(--spacing-6) var(--spacing-5);
  }
</style>
