---
import Layout from "../layouts/Layout.astro";
import { ContentGrid } from "../components";
import backgroundImg from "../assets/img/background.png";
---

<Layout title="Gunnar Olafsson">
  <main style={{ backgroundImage: `url("${backgroundImg}")` }}>
    <ContentGrid client:idle />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: auto;
    padding: var(--spacing-6) var(--spacing-5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
