.jobCompany,
.workItem p {
  margin: 0px;
}

.jobContainer {
  --job-circle-size: 26px;
  --job-circle-border-width: 4px;
  --job-container-left-padding: var(--spacing-4);
  --job-content-left-padding: var(--spacing-4);

  display: flex;
  padding-left: var(--job-container-left-padding);
  padding-right: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  position: relative;
  isolation: isolate;
}

.jobContainer:last-child {
  padding-bottom: 0px;
}

.jobContainer:not(:last-child)::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(var(--job-circle-size) / 2);
  left: calc(
    var(--job-container-left-padding) + (var(--job-circle-size) / 2) -
      (var(--job-circle-border-width) / 2)
  );
  height: 100%;
  width: var(--job-circle-border-width);
  background-color: var(--color-gray-6);
}

.jobCircleContainer {
  /* Title height */
  height: 1.875rem;
  width: var(--job-circle-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobCircle {
  border-radius: 50%;
  background-color: var(--color-gray-10);
  border: var(--job-circle-border-width) solid var(--color-gray-6);
}

.hoveringLink .jobCircle {
  border-color: var(--color-primary);
}

.jobCompany a {
  text-decoration: none;
  color: var(--color-white);
  padding-left: var(--job-content-left-padding);
}

.jobTitle {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  padding-left: var(--job-content-left-padding);
  padding-bottom: var(--spacing-2);
}

.jobYears {
  color: var(--color-white);
  margin-left: var(--spacing-2);
}

.jobDescription {
  padding-left: var(--job-content-left-padding);
}
