.infoItemContainer {
  display: flex;
  gap: var(--spacing-4);
  height: 100%;
}

.infoItem {
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  padding: var(--spacing-3) var(--spacing-4);
}

.infoItem p {
  font-size: var(--font-size-normal-px);
  font-weight: var(--font-weight-bold);
  color: var(--color-transparent);
  background-image: linear-gradient(
    var(--gradient-rotation),
    var(--color-primary) 30%,
    var(--color-secondary)
  );
  background-clip: text;
}
