.socialItem {
  height: 100%;
  display: grid;
  place-items: center;
  padding: var(--spacing-3) var(--spacing-5);
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  width: 100%;
  gap: var(--spacing-3);
}

.socialIcon {
  --social-icon-container-size: 50px;
  height: var(--social-icon-container-size);
  width: var(--social-icon-container-size);
  background-color: var(--color-gray-8);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  user-select: none;
}

.iconBackground {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0);
  background-color: var(--color-primary);
  transition: transform 0.15s ease-out;
}

.socialIcon svg {
  --social-icon-size: 24px;
  --social-icon-spacing: calc(
    (var(--social-icon-container-size) - var(--social-icon-size)) / 2
  );
  position: absolute;
  height: var(--social-icon-size);
  width: var(--social-icon-size);
  top: var(--social-icon-spacing);
  left: var(--social-icon-spacing);
  color: var(--color-white);
}

.socialIcon:hover .iconBackground {
  transform: unset;
}

.socialIcon:hover svg {
  color: var(--color-gray-10);
}
