.socialItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  width: 100%;
}

.socialIcon {
  --social-icon-size: 50px;
  height: var(--social-icon-size);
  width: var(--social-icon-size);
  background-color: var(--color-gray-8);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  transition: box-shadow 0.15s ease-out;
}

.iconBackground {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: var(--social-icon-size);
  width: var(--social-icon-size);
  border-radius: 50%;
  transform: scale(0);
  background-color: var(--color-primary);
  transition: transform 0.15s ease-out;
}

.socialIcon svg {
  z-index: 10;
  height: 24px;
  width: 24px;
  color: var(--color-white);
}

.socialIcon:hover {
  box-shadow: 0px 0px 5px 4px var(--color-primary-darker);
}

.socialIcon:hover .iconBackground {
  transform: unset;
}

.socialIcon:hover svg {
  color: var(--color-gray-10);
}
