.contentGrid {
  isolation: isolate;
  height: calc(100% - 100px);
  min-height: var(--content-min-height);
  max-height: var(--content-max-height);
  width: 100%;
  max-width: var(--content-max-width);

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--spacing-5);
}

.workItemActive {
  grid-column: 2 / 4;
  grid-row: 1 / 6;
}

.skillsItemActive {
  grid-row: span 4;
}

.referencesItemActive {
  grid-column: 2 / 4;
  grid-row: 2 / 6;
}

.referencesActiveWorkItem {
  grid-column: 2;
  grid-row: 1;
}

.referencesActiveSkillsItem {
  grid-column: 3;
  grid-row: 1;
}

.referencesActiveEmailItem {
  grid-column: 2;
  grid-row: 6;
}

.referencesActiveSocialItem {
  grid-column: 3;
  grid-row: 6;
}
