---
import cssVariables from "../constants/cssVariables";
---

<div id="root">
  <slot />
</div>

<style is:global define:vars={cssVariables}>
  #root {
    background-color: var(--colorBackgrounds);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--colorWhite);
  }
</style>
