.background {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--color-black);
  overflow: hidden;
}

.backgroundGradient {
  position: absolute;
  border-radius: 50%;
  animation-name: gradient-fade-in;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.gradientPrimary {
  --gradient-primary-height: 1000px;
  --gradient-primary-width: 1500px;
  height: var(--gradient-primary-height);
  width: var(--gradient-primary-width);
  left: calc(-1 * var(--gradient-primary-width) / 2);
  bottom: calc(-1 * var(--gradient-primary-height) / 2 -30px);
  animation-duration: 1500ms;
  background-image: radial-gradient(
    var(--color-primary-darker),
    var(--color-transparent) 50%
  );
}

.gradientSecondary {
  --gradient-secondary-height: 2000px;
  --gradient-secondary-width: 1000px;
  height: var(--gradient-secondary-height);
  width: var(--gradient-secondary-width);
  top: calc(-1 * var(--gradient-secondary-height) / 2);
  right: calc(-1 * var(--gradient-secondary-width) / 2);
  animation-duration: 1000ms;
  background-image: radial-gradient(
    var(--color-secondary-darker),
    var(--color-transparent) 50%
  );
}

@keyframes gradient-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
